<!DOCTYPE html>
{% load staticfiles %}

<head>
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no”/>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <script src="/static/js/jquery-1.11.0.min.js"></script>
    {% block head %}
        <title>Base Html</title>
    {% endblock %}
</head>

<body>
    {% block mask %}
    {% endblock %}
    <div id="main_area">
        <div id="header">
            <a href="/" id="banner_a"><img id="banner" src="/static/images/cguo16.png"></a>
            <div id="right_header">
                <div id="log">
                    {% if request.session.is_login %}
                        <p>欢迎您，<a href="/userInfo" target="_blank">{{ request.session.user_name }}</a></p>
                        <a href="/logOut" class="right_header_text">退出登录</a>
                    {% else %}
                        <a href="/signUp" class="right_header_text">注册</a>
                        <a href="/signIn" class="right_header_text">登录</a>
                    {% endif %}
                </div>
                <div id="search_box">
                    <form action="/newsSearch/" method="get">
                        <input id="search_edit" type="text" name="search" placeholder="请输入关键字" required="true">
                        <input id="search" type="submit" value="搜索">
                    </form>
                </div>
            </div>
        </div>
        <div id="navigation_bar">

            <ul>
                <li {%if request.path == '/'%}class="active"{% endif %}><a href="/">首页</a></li>
                <li {%if request.path|slice:'13' == '/fileTransfer'%}class="active"{% endif %}><a href="/fileTransfer">文件服务</a></li>
                <li {%if request.path|slice:'13' == '/messageBoard'%}class="active"{% endif %}><a href="/messageBoard">留言板</a></li>
                <li {%if request.path|slice:'6' == '/about'%}class="active"{% endif %}><a href="/about">小站的故事</a></li>
            </ul>
        </div>

        {% block content %}
            <div>这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的默认内容。</div>
        {% endblock %}
        <p align="right" style="color:#2942c4;" id="commit">latest commit: 2019.2.24</p>
    </div>
    {% block scripts %}
    {% endblock %}
</body>
