{% extends "base.html" %}

{% block head %}
    <title>Cguo16's Home</title>
    <style>
        #v_ip{
            font-family: "Courier New", Courier, "Courier 10 Pitch", monospace;
            font-size:1.25rem;
            font-weight:lighter;
            color:#2942c4;
            text-align:right;
}
        #title{
            font-family: "Courier New", Courier, "Courier 10 Pitch", monospace;
            font-size:2.375rem;
            font-weight:lighter;
            color:#2942c4;
            text-align: center;
}
        #v_times{
            font-family: "Courier New", Courier, "Courier 10 Pitch", monospace;
            font-size:2.375rem;
            font-weight:lighter;
            color:#2942c4;
            text-align: center;
}
    </style>
{% endblock %}

{% block content %}
    <p id = "v_ip">来访者ip：{{ v_ip }}</p>
    <p id = "title">☆ cguo16的首页 ☆</p>
    <p id = "v_times">访问次数：{{ v_times }}</p>


{% endblock %}
