{% extends "base.html" %}

{% block head %}
    <title>Message Board</title>
    <link rel="stylesheet" type="text/css" href="/static/css/messageBoard.css">
    <style type="text/css">
        body {
            background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
            color: rgba(0, 0, 0, 0.6);
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            line-height: 1.6em;
        }

        [ripple] {
          z-index: 1;
          position: relative;
          overflow: hidden;
        }
        [ripple] .ripple {
            position: absolute;
            background: #FFFFFF;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            animation: ripple 1.6s;
        }

        @keyframes ripple {
            0% {
                transform: scale(1);
                opacity: 0.2;
            }
            100% {
                transform: scale(40);
                opacity: 0;
            }
        }
        .tabs {
          z-index: 15px;
          position: relative;
          background: #FFFFFF;
          width: 600px;
          border-radius: 4px;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          margin: 100px auto 10px;
          overflow: hidden;
        }
        .tabs-header {
          position: relative;
          background: #4285F4;
          overflow: hidden;
        }
        .tabs-header .border {
          position: absolute;
          bottom: 0;
          left: 0;
          background: #F4B142;
          width: auto;
          height: 2px;
          -webkit-transition: 0.3s ease;
                  transition: 0.3s ease;
        }
        .tabs-header ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          width: calc(100% - 68px);
        }
        .tabs-header li {
          -webkit-transition: 0.3s ease;
                  transition: 0.3s ease;
        }
        .tabs-header a {
          z-index: 1;
          display: block;
          box-sizing: border-box;
          padding: 15px 20px;
          color: #FFFFFF;
          font-weight: 500;
          text-decoration: none;
          text-transform: uppercase;
        }
        .tabs-nav {
          position: absolute;
          top: 0;
          right: 0;
          background: #4285F4;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          height: 100%;
          padding: 0 10px;
          color: #FFFFFF;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
        }
        .tabs-nav:before {
          content: '';
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          box-shadow: 0 0 20px 10px #4285F4;
        }
        .tabs-nav i {
          border-radius: 100%;
          cursor: pointer;
        }
        .tabs-content {
          position: relative;
          padding: 15px 20px;
          -webkit-transition: 0.3s ease;
                  transition: 0.3s ease;
          overflow: hidden;
        }
        .tabs-content:after {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          display: block;
          width: 100%;
          height: 1px;
          box-shadow: 0 0 20px 10px #FFFFFF;
        }
        .tabs-content .tab {
          display: none;
        }
        .tabs-content .tab.active {
          display: block;
        }
    </style>
{% endblock %}

{% block content %}
    <article class="htmleaf-container">
        <div class="tabs">
            <div class="tabs-header">
                <div class="border"></div>
                <ul>
                    <li class="active"><a href="#tab-1" tab-id="1" ripple="ripple" ripple-color="#FFF">Tab 1</a></li>
                    <li><a href="#tab-2" tab-id="2" ripple="ripple" ripple-color="#FFF">Tab 2</a></li>
                </ul>
                <nav class="tabs-nav"><i id="prev" ripple="ripple" ripple-color="#FFF" class="material-icons">&#xE314;</i><i id="next" ripple="ripple" ripple-color="#FFF" class="material-icons">&#xE315;</i></nav>
            </div>
            <div class="tabs-content">
                <div tab-id="1" class="tab active">1. 第一句</div>
                <div tab-id="2" class="tab">2. 第二句.</div>
            </div>
        </div>
    </article>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
	var activePos = $('.tabs-header .active').position();
	function changePos() {
		activePos = $('.tabs-header .active').position();
		$('.border').stop().css({
			left: activePos.left,
			width: $('.tabs-header .active').width()
		});
	}
	changePos();
	var tabHeight = $('.tab.active').height();
	function animateTabHeight() {
		tabHeight = $('.tab.active').height();
		$('.tabs-content').stop().css({ height: tabHeight + 'px' });
	}
	animateTabHeight();
	function changeTab() {
		var getTabId = $('.tabs-header .active a').attr('tab-id');
		$('.tab').stop().fadeOut(300, function () {
			$(this).removeClass('active');
		}).hide();
		$('.tab[tab-id=' + getTabId + ']').stop().fadeIn(300, function () {
			$(this).addClass('active');
			animateTabHeight();
		});
	}
	$('.tabs-header a').on('click', function (e) {
		e.preventDefault();
		var tabId = $(this).attr('tab-id');
		$('.tabs-header a').stop().parent().removeClass('active');
		$(this).stop().parent().addClass('active');
		changePos();
		tabCurrentItem = tabItems.filter('.active');
		$('.tab').stop().fadeOut(300, function () {
			$(this).removeClass('active');
		}).hide();
		$('.tab[tab-id="' + tabId + '"]').stop().fadeIn(300, function () {
			$(this).addClass('active');
			animateTabHeight();
		});
	});
	var tabItems = $('.tabs-header ul li');
	var tabCurrentItem = tabItems.filter('.active');
	$('#next').on('click', function (e) {
		e.preventDefault();
		var nextItem = tabCurrentItem.next();
		tabCurrentItem.removeClass('active');
		if (nextItem.length) {
			tabCurrentItem = nextItem.addClass('active');
		} else {
			tabCurrentItem = tabItems.first().addClass('active');
		}
		changePos();
		changeTab();
	});
	$('#prev').on('click', function (e) {
		e.preventDefault();
		var prevItem = tabCurrentItem.prev();
		tabCurrentItem.removeClass('active');
		if (prevItem.length) {
			tabCurrentItem = prevItem.addClass('active');
		} else {
			tabCurrentItem = tabItems.last().addClass('active');
		}
		changePos();
		changeTab();
	});
	$('[ripple]').on('click', function (e) {
		var rippleDiv = $('<div class="ripple" />'), rippleOffset = $(this).offset(), rippleY = e.pageY - rippleOffset.top, rippleX = e.pageX - rippleOffset.left, ripple = $('.ripple');
		rippleDiv.css({
			top: rippleY - ripple.height() / 2,
			left: rippleX - ripple.width() / 2,
			background: $(this).attr('ripple-color')
		}).appendTo($(this));
		window.setTimeout(function () {
			rippleDiv.remove();
		}, 1500);
	});
});
</script>
{% endblock %}