{% extends "base.html" %}

{% block head %}
    <title>Message Board</title>
    <style type="text/css">
        [ripple] {
            z-index: 1;
            position: relative;
            overflow: hidden;
        }
        [ripple] .ripple {
            position: absolute;
            background: #FFFFFF;
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 100%;
            animation: ripple 1.6s;
        }
        @keyframes ripple {
            0% {
                transform: scale(1);
                opacity: 0.2;
            }
            100% {
                transform: scale(40);
                opacity: 0;
            }
        }
        .delete_mask{
            position: absolute;
            display: none;
            z-index: 10000;
        }
        .tabs .delete_window{
            position: absolute;
            width: 15rem;
            height: 9.375rem;
            box-shadow: darkgrey 0 0 0.5rem 0.0625rem;
            background: #f8f8f8;
            border-radius: 0.3125rem;
            left:0;top:0;right: 0;bottom: 0;
            margin: auto;
            display: none;
            z-index: 10001;
            text-align: center;
        }
        .tabs .delete_window .confirm_button{
            height: 1.875rem;
            width:5rem;
            border-radius: 0.1875rem;
            border: 0.0625rem solid #cdcdcd;
            cursor: pointer;
        }
        .tabs .delete_window .confirm_button p{
            margin: 0.3125rem auto auto 0.25rem;
            font-size: 0.9375rem;
            letter-spacing: 0.3125rem;
        }
        .tabs .delete_window .confirm_button.confirm{
            background-color: #4285f4;
            color: white;
            float:left;
            margin-left: 1.875rem;
        }
        .tabs .delete_window .confirm_button.cancel{
            background-color: white;
            color: black;
            float: right;
            margin-right: 1.875rem;
        }
        .tabs {
            position: relative;
            background: #4285f4;
            width: 50rem;
            margin: 6.25rem auto 0.625rem;
            overflow: hidden;
            border-radius: 0.625rem;
        }
        .tabs .note_dynamic{
            position: absolute;
            background: #333333;
            width: 12.5rem;
            height: 6.25rem;
            border-radius: 1.875rem;
            left:0;top:0;right: 0;bottom: 0;
            margin: auto;
            display: none;
            z-index:1000;
        }
        .tabs .note_dynamic span{
            width: 70%;
            height: 30%;
            position: absolute;
            color: white;
            font-size: 1.25rem;
            letter-spacing: 0.3125rem;
            margin: auto;
            left: 0;top:0;right: 0;bottom: 0;
        }
        .tabs-header {
            position: relative;
            background: #4285F4;
            overflow: hidden;
        }
        .tabs-header .border {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #F4B142;
            width: auto;
            height: 0.3rem;
            transition: 0.3s ease;
        }
        .tabs-header ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: calc(100% - 4.25rem);
        }
        .tabs-header li {
            transition: 0.3s ease;
            list-style: none;
        }
        .tabs-header a {
            display: block;
            box-sizing: border-box;
            padding: 0.9375rem 1.25rem;
            color: #FFFFFF;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.125rem;
        }
        .tabs-content {
            margin: 0 0.625rem 1.25rem 0.625rem;
            position: relative;
            transition: 0.3s ease;
            overflow: hidden;
            border-radius: 0.625rem;
            background-color: #f8f8f8;
        }
        .tabs-content:after {
            content: '';
            position: absolute;
            bottom: -0.0625rem;
            left: 0;
            display: block;
            width: 100%;
            height: 0.0625rem;
            box-shadow: 0 0 1.25rem 0.625rem #FFFFFF;
        }
        .tabs-content .tab {
            display: none;
        }
        .tabs-content .tab.active {
            display: block;
        }
        .tabs-content .note_area{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3.75rem;
            width: 31.25rem;
            margin: 0.9375rem auto;
            border-radius: 1.875rem;
            background-color: #4285f4;
        }
        .tabs-content .note_area p{
            margin: 0;
            color: white;
        }
        .tabs-content .changePage_area{
            text-align: center;
            margin: 1.25rem auto 0.625rem auto;
        }
        .tabs-content .input_area{
            position: relative;
            bottom: 0;
            height: 13.125rem;
            width: 100%;
        }
        .tabs-content .input_area .input_hr{
            align-items:center;
            width:46.25rem;
            color: #d3d3d3;
            margin: 0 auto 0.5rem auto;
        }
        .tabs-content .input_area .textedit_area{
            position: absolute;
            bottom: 0;
            height: 11.25rem;
            width: 37.5rem;
            margin-left: 1.25rem;
        }
        .tabs-content .input_area .textedit{
            margin:0.625rem auto;
            width: 98%;
            height: 80%;
            position: absolute;
            font-size: 1.25rem;
        }
        .tabs-content .input_area .input_area_right{
            bottom: 0;
            height: 11.25rem;
            width: 9.375rem;
            float: right;
        }
        .tabs-content .input_area .button{
            width: 6.25rem;
            height: 2.125rem;
            background: #4285f4;
            padding-top: 0;
            padding-left: 0.625rem;
            margin-top: 7.875rem;
            margin-left: 1rem;
            color: white;
            text-align: center;
            line-height: 2rem;
            font-size: 1rem;
            cursor: pointer;
            letter-spacing: 0.3125rem;
            border-width: 0.0625rem;
            border-radius: 0.625rem;
        }
    </style>
{% endblock %}

{% block mask %}
    <div class="delete_mask"></div>
{% endblock %}

{% block content %}
    <article class="htmleaf-container">
        <div class="tabs">
            <div class="note_dynamic"><span>✔ 留言成功</span></div>
            <div class="delete_window">
                <p style="margin-top: 2.1875rem;margin-bottom: 2.1875rem">确定删除该留言？</p>
                <div>
                    <div class="confirm_button confirm"><p>确定</p></div>
                    <div class="confirm_button cancel"><p>取消</p></div>
                </div>
            </div>
            <div class="tabs-header">
                <div class="border"></div>
                <ul>
                    <li class="active"><a href="#tab-1" tab-id="1" ripple="ripple" ripple-color="#FFF">公共留言板</a></li>
                    <li><a href="#tab-2" tab-id="2" ripple="ripple" ripple-color="#FFF">私信我们</a></li>
                </ul>
            </div>
            <div class="tabs-content">
                <div tab-id="1" class="tab active" id="public">
                    <div class="note_area">
                        <p align="center">这里为公共留言板，请理性，礼貌发言。</p>
                    </div>
                    <div class="display_area">
                    </div>
                    <div class="changePage_area">
                    </div>
                    <div class="input_area">
                        <hr class="input_hr">
                        <label style="display: block;margin-left: 1.25rem;float:left;width:12.5rem;">请输入您的留言：</label>
                        <label class="limit" style="float:left;width:12.5rem;margin-left: 21.875rem;">0/140</label>
                        <div class="textedit_area">
                            <textarea class="textedit" type="text" name="message" placeholder="输入留言（140字以内）" maxlength="140"></textarea>
                        </div>
                        <div class="input_area_right">
                            <input type="submit" value="提交" class="button" onclick="postMessage('public')">
                        </div>
                    </div>
                </div>
                <div tab-id="2" class="tab" id="private">
                    <div class="note_area">
                        <p align="center">这里的留言将只有网站的管理者可见。</p>
                    </div>
                    <div class="display_area">
                    </div>
                    <div class="changePage_area">
                    </div>
                    <div class="input_area">
                        <hr class="input_hr">
                        <label style="display: block;margin-left: 1.25rem;float:left;width:12.5rem;">请输入您的留言：</label>
                        <label class="limit" style="float:left;width:12.5rem;margin-left: 21.875rem;">0/140</label>
                        <div class="textedit_area">
                            <textarea class="textedit" type="text" name="message" placeholder="输入留言（140字以内）" maxlength="140"></textarea>
                        </div>
                        <div class="input_area_right">
                            <input type="submit" value="提交" class="button" onclick="postMessage('private')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}

{% block scripts %}
    <script>
        var vars={
            csrf_token:'{{ csrf_token }}',
            user_name:'{{ request.session.user_name }}',
            current_page:-1
        };
        function showLetterNum($input) {
            $input.find("textarea").on("input propertychange", function() {
                $input.find(".limit").text($(this).val().length+'/140');
                if ($input.find("textarea").val()===''){
                    $input.find(".button").attr("disabled",true);
                    $input.find(".button").css("background-color","#c0c0c0");
                }
                else{
                    $input.find(".button").attr("disabled",false);
                    $input.find(".button").css("background-color","#4285f4");
                }
            });
        }
        showLetterNum($('div.tab.active'));
        showLetterNum($('div.tab').not('.active'));
        $(document).ready(function () {
            $('div.tab.active').find(".limit").text($('div.tab.active').find("textarea").val().length+'/140');
            $('div.tab').not('.active').find(".limit").text($('div.tab').not('.active').find("textarea").val().length+'/140');
            if('{{ request.session.user_name }}'===''){
                str='';
                str += '<hr class="input_hr">';
                str +='<p style="text-align:center">您未登录，留言将不会在此处显示</p>';
                $('div#private .display_area').html(str);
                $('div#private .display_area .input_hr').css({
                    "align-items":"center",
                    "width":"46.25rem",
                    "color": "#d3d3d3",
                    "margin": "0 auto 0.5rem auto"
                });
            }
            else{
                getMessage("private",1);
            }
            getMessage("public",1);

            //绑定取消删除按钮的点击事件：
            $('.tabs .delete_window .cancel').on("click",function () {
                $('.tabs .delete_window').css("display","none");
                $('.delete_mask').css("display","none");
                $('.tabs .delete_window .confirm').off("click");
            });
        });
    </script>
    <script src="/static/js/changeTab.js"></script>
    <script src="/static/js/manageMessage.js"></script>
{% endblock %}