{% extends "base.html" %}

{% block head %}
    <title>User Info</title>
    <style type="text/css">
        div#paper_area{
            width:50rem;
            height:25rem;
            margin:1.875rem auto;
            padding-top: 3.125rem;
            border-radius: 0.625rem;
            box-shadow: 0.1875rem 0.1875rem 0.3125rem #333333 ;
            background-color: #ececec;
        }
        p#title{
            font-size: 1.875rem;
            text-align: center;
            letter-spacing: 0.5rem;
        }
        p.item{
            margin-left: 15.625rem;
            font-size: 1.25rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="paper_area">
        <p id="title">用户信息</p>
        <p class="item">用户名：<span id="username"></span></p>
        <p class="item">邮箱：<span id="email"></span></p>
        <p class="item">帐号状态：<span id="isActive"></span></p>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/postUserInfo",
                data:{"username":'{{request.session.user_name}}',
                        csrfmiddlewaretoken: '{{ csrf_token }}'},
                success:function (result) {
                    document.getElementById("username").innerText='{{ request.session.user_name }}';
                    document.getElementById("email").innerText=result.email;
                    if(result.isActive===true)
                        document.getElementById("isActive").innerText="已激活";
                    else
                        document.getElementById("isActive").innerText="未激活";
                }
            })
        })
    </script>
{% endblock %}