{% extends "base.html" %}

{% block head %}
    <title>User Agreement</title>
    <style type="text/css">
        div#paper_area{
            width:800px;
            height:600px;
            margin:30px auto;
            padding-top: 50px;
            border-radius: 10px;
            box-shadow: 3px 3px 5px #333333 ;
            background-color: #ececec;
        }
        p#title{
            font-size: 30px;
            text-align: center;
            letter-spacing: 8px;
        }
        p.item{
            margin-left: 250px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="paper_area">
        <p id="title">cguo16网站用户协议</p>
        <p class="item">1、不要捣乱  (～￣▽￣)～ </p>
        <p class="item">2、不要捣乱  (～￣▽￣)～ </p>
        <p class="item">3、不要捣乱  (～￣▽￣)～ </p>
        <p class="item">4、不要捣乱  (～￣▽￣)～ </p>
        <p class="item">5、不要捣乱  (～￣▽￣)～ </p>
        <p class="item">6、不要捣乱  (～￣▽￣)～ </p>
        <p class="item">7、不要捣乱  (～￣▽￣)～ </p>
        <p class="item">8、不要捣乱  (～￣▽￣)～ </p>
        <p class="item">9、不要捣乱  (～￣▽￣)～ </p>
        <p class="item">10、不要捣乱  (～￣▽￣)～ </p>
        <p class="item">11、捣就捣吧反正我也管不住你们  _(:з」∠)_  </p>
    </div>
{% endblock %}